
/*Content*/
.content{
  padding: 40px 24%;
}

.content_text{
  margin-bottom: 40px;
}

.fb_btns{
  margin-bottom: 30px;
}

/*Detail First*/

.big_num{
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 10px;
}

.detail_first{
  padding: 30px 18.75%;
}

.oval{
  width: 12px;
  height: 12px;
  border-radius: 400px;
  margin-top: 5px;
  margin-right: 5px;
}

.cons{
  background-color: #bf868e;
}

.pros{
  background-color: #a6c0bb;
}

.no_respond{
  background-color: #d4c3ac;
}

.maker_card{
  background-image: linear-gradient(to bottom, rgba(206,142,160,0.6), rgba(206,142,160,0.6)), url(../images/joomin.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
}

.maker_card_info{
  height: 50%;
  margin-top: 70%;
}

/*Detail Second*/
.detail_second{
  padding: 40px 26%;
}

.product_img{
  width: 232px;
  height: 166px;
}

/*Detail Third*/
.detail_third{
  padding: 40px 26% 100px 26%;
}

.campaign_img{
  width: 100%;
}

@media screen and (max-width: 576px) {

/*Content*/
  .content{
    padding: 30px 6.66%;
  }

  .content_text{
    line-height: 2;
    margin-bottom: 30px;
  }

  .fb_btns{
    margin-bottom: 20px;
  }

  /*Detail First*/
  .detail_first{
    padding: 0 0;
  }

  .first_text{
    padding: 0 6.6%;
  }

  .oval{
    margin-top: 2px;
    margin-right: 4px;
  }

  .maker_card_info{
    height: 40%;
    margin-top: 80%;
  }
  .maker_cards{
    padding: 0;
  }
/*Detail Second*/
  .detail_second{
    padding: 20px 6.6%;
  }

  .product_img{
    width: 128px;
    height: 92px;
  }

  .btn-white{
    width: 125px;
  }

/*Detail Third*/
  .detail_third{
    padding: 20px 0 40px 0;
  }
  .campaign_img{
    width: 100%;
  }
}
