.post{
  width: 80%;
  margin: 50px auto;
}

.post button{
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 576px) {
  .post{
    width: 95%;
  }
  .post button{
    width: 140px;
  }
}
