<!-- 휴지팔기 메인 페이지 -->
<h1> 휴지팔기 메인 페이지 </h1>
<hr>
<h1> 이미지들은 정적으로 넣을것임! </h1>
<img src="https://images.unsplash.com/photo-1477238134895-98438ad85c30?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=dcd437a3c39849ff2bf9c3f87a7adfd3&auto=format&fit=crop&w=600&q=60">
<hr>
<a href="/shop/buy"> 주문 페이지 </a>
<hr>
정적 텍스트 + 이미지 ㄱㄱ
