/* line 4, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/community.scss */
.fa-heart:before {
  color: black;
}

/* line 7, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/community.scss */
.decoration-none:hover {
  text-decoration: none;
}
/* Share */
/* line 7, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/contract.scss */
.share_cover {
  height: 682px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
}

/* line 18, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/contract.scss */
.share_cover p {
  font-size: 0.875rem;
}

/* line 22, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/contract.scss */
.share_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 28, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/contract.scss */
.share_icons {
  width: 20%;
  justify-content: space-around;
}

/* line 33, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/contract.scss */
.share_icon {
  width: 60px;
  height: 60px;
}

/* line 38, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/contract.scss */
.share_content p {
  font-size: 1.125rem;
}

/* line 42, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/contract.scss */
.money {
  font-size: 1.25rem;
  font-weight: bold;
}

/* line 47, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/contract.scss */
.share_ment {
  font-size: 1.5rem;
  font-weight: bold;
}

/* line 52, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/contract.scss */
.fund_link {
  font-size: 1.5rem;
  color: #404040;
}

/* line 57, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/contract.scss */
.process {
  width: 50%;
  margin-top: 5%;
  margin-bottom: 10%;
}

/*Content*/

.content{
  padding: 40px 24%;
}

.content_text{
  margin-bottom: 40px;
}

.fb_btns{
  margin-bottom: 30px;
}

/*Detail First*/

.big_num{
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 10px;
}

.detail_first{
  padding: 30px 18.75%;
}

.oval{
  width: 12px;
  height: 12px;
  border-radius: 400px;
  margin-top: 5px;
  margin-right: 5px;
}

.cons{
  background-color: #bf868e;
}

.pros{
  background-color: #a6c0bb;
}

.no_respond{
  background-color: #d4c3ac;
}

.maker_card{
  background-image: linear-gradient(to bottom, rgba(206,142,160,0.6), rgba(206,142,160,0.6)), url(../images/joomin.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
}

.maker_card_info{
  height: 50%;
  margin-top: 70%;
}

/*Detail Second*/
.detail_second{
  padding: 40px 26%;
}

.product_img{
  width: 232px;
  height: 166px;
}

/*Detail Third*/
.detail_third{
  padding: 40px 26% 100px 26%;
}

.campaign_img{
  width: 100%;
}

@media screen and (max-width: 576px) {

/*Content*/
  .content{
    padding: 30px 6.66%;
  }

  .content_text{
    line-height: 2;
    margin-bottom: 30px;
  }

  .fb_btns{
    margin-bottom: 20px;
  }

  /*Detail First*/
  .detail_first{
    padding: 0 0;
  }

  .first_text{
    padding: 0 6.6%;
  }

  .oval{
    margin-top: 2px;
    margin-right: 4px;
  }

  .maker_card_info{
    height: 40%;
    margin-top: 80%;
  }
  .maker_cards{
    padding: 0;
  }
/*Detail Second*/
  .detail_second{
    padding: 20px 6.6%;
  }

  .product_img{
    width: 128px;
    height: 92px;
  }

  .btn-white{
    width: 125px;
  }

/*Detail Third*/
  .detail_third{
    padding: 20px 0 40px 0;
  }
  .campaign_img{
    width: 100%;
  }
}
/* Email Form */

.email_form{
  padding: 40px 30% 80px 30%;
}

.btn-email{
  width: 164px;
  height: 40px;
  font-size: 1rem;
  margin: 0 auto;
  display: block;
}

/* Email Response */
.email_response{
  background-color: rgba(231, 231, 231, 0.6);
  padding: 50px 22%;
}

@media screen and (max-width: 576px) {
/* Maker Profile*/
  .maker_profile h4{
    font-weight: normal !important;
  }
/* Email Form */
  .email_form{
    padding: 30px 12% 60px 12%;
  }

  .btn-email{
    width: 132px;
    height: 32px;
  }
/*Email Response  */
  .email_response{
    padding: 30px 9%;
  }
}
/* Cover */
/* line 6, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/home.scss */
.cover {
  height: calc(100vw*0.56);
  width: 100%;
  background-image: url(../../../assets/images/cover.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 15, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/home.scss */
.arrow {
  position: relative;
  left: 50%;
  top: 85%;
  animation: movingArrow 2000ms infinite linear;
}

/* line 22, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/home.scss */
.arrow_img {
  width: 35px;
  height: 36px;
}

@keyframes movingArrow {
  0% {
    top: 85%;
  }
  100% {
    top: 90%;
  }
}
/* New */
/* line 33, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/home.scss */
.new {
  background-color: #eeeef0;
}

/* line 37, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/home.scss */
.mic_icon {
  width: 56px;
  height: 83px;
}

/* line 42, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/home.scss */
.new_textbox {
  white-space: pre-wrap;
  display: flex;
  align-items: center;
}

/* line 48, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/home.scss */
.new_text {
  line-height: 1.5;
  color: #858585;
  margin-bottom: 0;
  padding-left: 8%;
  border-left: 4px solid #858585;
}

/* line 56, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/home.scss */
.new .container {
  max-width: 100vw;
}

/* Funding_list */
/* line 61, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/home.scss */
.funding_list > .container {
  max-width: 100vw;
}

/* line 65, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/home.scss */
.funding_card_box {
  background-position: center center;
  background-size: 100% 100%;
  height: calc(50vw * 0.53);
}

/* line 71, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/home.scss */
.funding_card a {
  text-decoration: none;
}

/* line 75, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/home.scss */
.funding_card_box:nth-child(6n) {
  background-image: linear-gradient(to bottom, rgba(221, 181, 67, 0.6), rgba(221, 181, 67, 0.6)), url(../images/woman.jpg);
}

/* line 79, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/home.scss */
.funding_card_box:nth-child(6n+1) {
  background-image: linear-gradient(to bottom, rgba(206, 142, 160, 0.6), rgba(206, 142, 160, 0.6)), url(../images/woman.jpg);
}

/* line 83, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/home.scss */
.funding_card_box:nth-child(6n+2) {
  background-image: linear-gradient(to bottom, rgba(148, 54, 66, 0.6), rgba(148, 54, 66, 0.6)), url(../images/woman.jpg);
}

/* line 87, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/home.scss */
.funding_card_box:nth-child(6n+3) {
  background-image: linear-gradient(to bottom, rgba(71, 120, 140, 0.6), rgba(71, 120, 140, 0.6)), url(../images/woman.jpg);
}

/* line 91, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/home.scss */
.funding_card_box:nth-child(6n+4) {
  background-image: linear-gradient(to bottom, rgba(184, 155, 117, 0.6), rgba(184, 155, 117, 0.6)), url(../images/woman.jpg);
}

/* line 95, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/home.scss */
.funding_card_box:nth-child(6n+5) {
  background-image: linear-gradient(to bottom, rgba(60, 35, 62, 0.6), rgba(60, 35, 62, 0.6)), url(../images/woman.jpg);
}

/* line 99, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/home.scss */
.funding_title {
  font-size: 1.5rem;
  font-weight: bold;
  width: 55%;
  height: 50%;
  padding: 6% 6%;
}

/* line 107, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/home.scss */
.funding_nums {
  font-size: 1.5rem;
}

/* line 111, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/home.scss */
.funding_num {
  font-size: 1.125rem;
  font-weight: bold;
  padding-right: 5%;
  margin-bottom: 0;
}

/* line 118, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/home.scss */
.funding_money {
  font-size: 1.5rem;
  font-weight: bold;
  padding-right: 5%;
  line-height: 1;
  margin-bottom: 0;
}

/* line 126, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/home.scss */
.funding_card_info {
  justify-content: flex-end;
  align-items: flex-end;
  height: 50%;
  padding-top: 8%;
}

@media screen and (max-width: 576px) {
  /*New*/
  /* line 135, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/home.scss */
  .mic_icon {
    width: 22px;
    height: 38px;
  }

  /* line 140, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/home.scss */
  .new_text {
    border-left: 1px solid #858585;
  }

  /*Funding*/
  /* line 146, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/home.scss */
  .funding_card_box {
    height: calc(100vw * 0.53);
  }

  /* line 150, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/home.scss */
  .funding_card, .funding_title, .funding_nums, .funding_money {
    font-size: 1.125rem;
  }

  /* line 154, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/home.scss */
  .funding_num {
    font-size: 0.75rem;
  }

  /* line 158, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/home.scss */
  .funding_title {
    margin-bottom: 0;
  }

  /* line 162, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/home.scss */
  .arrow_img {
    width: 20px;
    height: 20px;
  }
}
/* Propose */
/* Cover */
/* line 7, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.propose_cover {
  background-image: url(../assets/images/propose_bg.png);
  height: 360px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* line 19, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.propose_text {
  font-size: 1.25rem;
}

/* line 23, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.propose {
  display: flex;
  justify-content: center;
}

/* line 28, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.propose_form {
  width: 100%;
}

/* line 32, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.propose_form .form-group {
  margin-bottom: 7%;
  box-shadow: none;
  border: none;
}

/* line 38, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.propose_form .form-group input {
  border-radius: 4px;
}

/* line 42, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.propose_form .form-group input[placeholder] {
  padding: 2%;
}

/* line 46, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.propose_form textarea {
  font-size: 0.875rem;
}

/* line 50, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.propose_form .form-group select * {
  border: none;
  box-shadow: none;
}

/* line 56, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.file_title {
  font-size: 1rem;
  margin-bottom: 10%;
}

/* line 61, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
#propose_funding {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(231, 231, 231, 0.6);
  padding-top: 3%;
  padding-bottom: 3%;
}

/* line 70, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
#propose_funding p {
  font-size: 0.875rem;
}

/* line 74, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.fund_money_form input {
  display: inline-block;
}

/* line 78, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.propose_text.d-flex > input {
  width: 30%;
  padding: 1% 2% 1% 1%;
  margin-right: 2%;
  margin-left: 2%;
}

/* line 85, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
#propose_notice {
  display: block;
  margin: 0 auto;
  width: 50%;
  padding-top: 3%;
  padding-bottom: 10%;
}

/* line 93, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
#propose_notice p {
  width: 100%;
  margin-left: 10%;
  font-size: 0.875rem;
  list-style-type: circle;
  display: list-item;
}

/* line 101, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
#propose_notice .btn {
  width: 30%;
  display: block;
  margin: 0 auto;
  margin-top: 5%;
}

/* line 108, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.propose_new {
  padding-top: 5%;
  padding-bottom: 5%;
  width: 50%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  /* line 115, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
  .w-600p {
    width: 600px;
  }
}
@media screen and (max-width: 576px) {
  /* line 120, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
  .w-600p {
    width: 300px;
  }
}
/* line 126, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.post {
  width: 80%;
  margin: 50px auto;
}

/* line 131, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.post button {
  display: block;
  margin: 0 auto;
}

/* line 136, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
form .form-group {
  box-shadow: none !important;
}

@media screen and (max-width: 576px) {
  /* line 141, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
  .post {
    width: 95%;
  }

  /* line 144, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
  .post button {
    width: 140px;
  }
}
/*Content*/
/* line 151, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.content {
  padding: 40px 24%;
}

/* line 155, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.content_text {
  margin-bottom: 40px;
}

/* line 159, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.fb_btns {
  margin-bottom: 30px;
}

/*Detail First*/
/* line 165, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.big_num {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 10px;
}

/* line 171, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.detail_first {
  padding: 30px 18.75%;
}

/* line 175, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.oval {
  width: 12px;
  height: 12px;
  border-radius: 400px;
  margin-top: 5px;
  margin-right: 5px;
}

/* line 183, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.cons {
  background-color: #bf868e;
}

/* line 187, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.pros {
  background-color: #a6c0bb;
}

/* line 191, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.no_respond {
  background-color: #d4c3ac;
}

/* line 195, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.maker_card {
  background-image: linear-gradient(to bottom, rgba(206, 142, 160, 0.6), rgba(206, 142, 160, 0.6)), url(../../images/joomin.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
}

/* line 203, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.maker_card_info {
  height: 50%;
  margin-top: 70%;
}

/*Detail Second*/
/* line 209, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.detail_second {
  padding: 40px 26%;
}

/* line 213, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.product_img {
  width: 232px;
  height: 166px;
}

/*Detail Third*/
/* line 219, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.detail_third {
  padding: 40px 26% 100px 26%;
}

/* line 223, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.campaign_img {
  width: 100%;
}

@media screen and (max-width: 576px) {
  /*Content*/
  /* line 230, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
  .content {
    padding: 30px 6.66%;
  }

  /* line 234, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
  .content_text {
    line-height: 2;
    margin-bottom: 30px;
  }

  /* line 239, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
  .fb_btns {
    margin-bottom: 20px;
  }

  /*Detail First*/
  /* line 244, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
  .detail_first {
    padding: 0 0;
  }

  /* line 248, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
  .first_text {
    padding: 0 6.6%;
  }

  /* line 252, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
  .oval {
    margin-top: 2px;
    margin-right: 4px;
  }

  /* line 257, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
  .maker_card_info {
    height: 40%;
    margin-top: 80%;
  }

  /* line 261, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
  .maker_cards {
    padding: 0;
  }

  /*Detail Second*/
  /* line 265, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
  .detail_second {
    padding: 20px 6.6%;
  }

  /* line 269, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
  .product_img {
    width: 128px;
    height: 92px;
  }

  /* line 274, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
  .btn-white {
    width: 125px;
  }

  /*Detail Third*/
  /* line 279, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
  .detail_third {
    padding: 20px 0 40px 0;
  }

  /* line 282, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
  .campaign_img {
    width: 100%;
  }
}
/* ----------------------------------------Email Form */
/* line 288, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.email_form {
  padding: 40px 30% 80px 30%;
}

/* line 292, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.btn-email {
  width: 164px;
  height: 40px;
  font-size: 1rem;
  margin: 0 auto;
  display: block;
}

/* Email Response */
/* line 301, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.email_response {
  background-color: rgba(231, 231, 231, 0.6);
  padding: 50px 22%;
}

@media screen and (max-width: 576px) {
  /* Maker Profile*/
  /* line 308, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
  .maker_profile h4 {
    font-weight: normal !important;
  }

  /* Email Form */
  /* line 312, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
  .email_form {
    padding: 30px 12% 60px 12%;
  }

  /* line 316, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
  .btn-email {
    width: 132px;
    height: 32px;
  }

  /*Email Response  */
  /* line 321, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
  .email_response {
    padding: 30px 9%;
  }
}
/*---------------------------- Subscribe */
/* line 328, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.subscribe_form {
  padding: 20px 30%;
}

/* line 332, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.btn-subscribe {
  width: 164px;
  height: 40px;
  font-size: 1rem;
  margin: 60px auto;
  display: block;
}

@media screen and (max-width: 576px) {
  /* Subscribe */
  /* line 343, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
  .subscribe > p {
    font-weight: normal !important;
  }

  /* line 347, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
  .subscribe_form {
    padding: 20px 12%;
  }

  /* line 351, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
  .btn-subscribe {
    width: 132px;
    height: 32px;
    font-size: 12px;
    margin: 30px auto;
  }
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

/* Custom settings */
/* Custom settings */

*{
  font-family: 'Nanum Gothic', sans-serif;
}

.bg-light{
  background-color: white !important;
}

.bg-grey{
  background-color: #f1f1f1;
}

.font-10{
  font-size: 0.625rem;
}

.font-12{
  font-size: 0.75rem;
}

.font-14{
  font-size: 0.875rem;
}

.font-16{
  font-size: 1rem;
}

.font-18{
  font-size: 1.125rem;
}

.font-20{
  font-size: 1.25rem;
}

.font-24{
  font-size: 1.5rem;
}

.font-36{
  font-size: 2.25rem;
}

.font-weight-extra-bold{
  font-weight: 800;
}

.font-grey{
  color: #858585;
}

.text-primary{
  color: #3e6373 !important;
}

.visible-xs{
  display: none;
}

.visible-xs-block{
  display: none;
}

.alert{
  position: absolute;
  float: left;
  width: 100%;
  z-index: 10000;
}

.active{
  color: #3e6373 !important;
}

.logo{
  width: 44px;
  height: 40px;
  color: white;
}

.brand{
  position: absolute;
  left: 0;
  top: 0;
}

.underbar-none{
  text-decoration: none;
}

.underbar-none:hover{
  text-decoration: none;
}

/*Detail Cover*/
.detail_num{
  position: relative;
  left: 90%;
  bottom: 46px;
}

.funding_detail_cover{
  background-image: linear-gradient(to bottom, rgba(221,181,67,0.6), rgba(221,181,67,0.6)), url(../images/woman.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: calc(100vw * 0.53);
  padding-top: 5%;
}

.detail_post{
  margin-top: 10%;
}

.funding_detail_content{
  padding-left: 20%;
  padding-right: 20%;
}

.btn-white{
  background-color: white;
  border: 1px solid #a7a7a7;
  border-radius: 0;
  width: 217px;
  color: #a7a7a7;
}

.btn-share{
  width: 15%;
}

.border-bottom{
  border-bottom: 1px solid #a7a7a7;
}

form input{
  border-radius: 3px;
}

form input[placeholder], form textarea[placeholder]{
  font-size: 14px;
  line-height: 1.07;
  padding: 18px 22px;
}

::placeholder{
  color: #aab2bd !important;
}

@media screen and (max-width: 576px) {

  .visible-xs{
    display: inline;
  }

  .visible-xs-block{
    display: block !important;
  }

  .visible-lg{
    display: none !important;
  }

  .font-sm-8{
    font-size: 0.5rem !important;
  }
  .font-sm-10{
    font-size: 0.625rem !important;
  }

  .font-sm-12{
    font-size: 0.75rem !important;
  }

  .font-sm-14{
    font-size: 0.875rem !important;
  }

  .font-sm-16{
    font-size: 1rem !important;
  }

  .font-sm-18{
    font-size: 1.125rem !important;
  }

  .font-sm-20{
    font-size: 1.25rem !important;
  }

  /*Header*/
  .logo{
    width: 36px;
    height: 34px;
  }

  /* Detail Cover */
  .detail_img{
    width: 90%;
  }

  .detail_mobile_cover{
    background-image: linear-gradient(to bottom, rgba(148,54,66,0.6), rgba(148,54,66,0.6)), url(../images/woman.jpg);
    height: calc(100vw * 0.53);
    background-position: center center;
    background-size: cover;
  }

  .detail_title{
    width: 60%;
    height: 50%;
    margin-bottom: 0;
  }

  .detail_infos{
    height: 50%;
  }

  form input[placeholder], form textarea[placeholder]{
    font-size: 10px;
    line-height: 1.5;
    padding: 8px 13px;
  }

}

video{
  height: 576px;
  width: 100%;
}
