/* line 4, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/community.scss */
.fa-heart:before {
  color: black;
}

/* line 7, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/community.scss */
.decoration-none:hover {
  text-decoration: none;
}
/* Share */
/* line 7, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/contract.scss */
.share_cover {
  height: 682px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
}

/* line 18, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/contract.scss */
.share_cover p {
  font-size: 0.875rem;
}

/* line 22, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/contract.scss */
.share_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 28, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/contract.scss */
.share_icons {
  width: 20%;
  justify-content: space-around;
}

/* line 33, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/contract.scss */
.share_icon {
  width: 60px;
  height: 60px;
}

/* line 38, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/contract.scss */
.share_content p {
  font-size: 1.125rem;
}

/* line 42, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/contract.scss */
.money {
  font-size: 1.25rem;
  font-weight: bold;
}

/* line 47, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/contract.scss */
.share_ment {
  font-size: 1.5rem;
  font-weight: bold;
}

/* line 52, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/contract.scss */
.fund_link {
  font-size: 1.5rem;
  color: #404040;
}

/* line 57, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/contract.scss */
.process {
  width: 50%;
  margin-top: 5%;
  margin-bottom: 10%;
}
/* Cover */
/* line 6, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/home.scss */
.cover {
  height: calc(100vw*0.56);
  width: 100vw;
}

/* line 15, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/home.scss */
.cover_vid {
  height: calc(100vw*0.56);
  width: 100vw;
}

/* line 20, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/home.scss */
.arrow {
  position: absolute;
  left: 50%;
  top: calc(100vw*0.46);
  animation: movingArrow 2000ms infinite linear;
}

/* line 27, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/home.scss */
.arrow_img {
  width: 35px;
  height: 36px;
}

@keyframes movingArrow {
  0% {
    top: calc(100vw*0.46);
  }
  100% {
    top: calc(100vw*0.5);
  }
}
/* New */
/* line 38, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/home.scss */
.new {
  background-color: rgba(172, 172, 172, 0.1);
}

/* line 42, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/home.scss */
.mic_icon {
  width: 56px;
  height: 83px;
}

/* line 47, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/home.scss */
.new_textbox {
  white-space: pre-wrap;
  display: flex;
  align-items: center;
}

/* line 53, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/home.scss */
.new_text {
  line-height: 1.5;
  color: #858585;
  margin-bottom: 0;
  padding-left: 8%;
  border-left: 4px solid #858585;
}

/* line 61, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/home.scss */
.new .container {
  max-width: 100vw;
}

/* Funding_list */
/* line 66, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/home.scss */
.funding_list > .container {
  max-width: 100vw;
}

/* line 70, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/home.scss */
.funding_card_box {
  background-position: center center;
  background-size: 100% 100%;
  height: calc(50vw * 0.53);
}

/* line 76, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/home.scss */
.funding_card a {
  text-decoration: none;
}

/* line 80, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/home.scss */
.funding_card_box::before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

/* line 114, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/home.scss */
.funding_card {
  z-index: 1000;
  position: absolute;
}

/* line 119, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/home.scss */
.funding_title {
  font-size: 1.5rem;
  font-weight: bold;
  width: 55%;
  height: 50%;
  padding: 6% 6%;
}

/* line 127, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/home.scss */
.funding_nums {
  font-size: 1.5rem;
}

/* line 131, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/home.scss */
.funding_num {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 0;
}

/* line 137, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/home.scss */
.funding_money {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 0;
}

/* line 144, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/home.scss */
.funding_card_info {
  justify-content: flex-end;
  align-items: flex-end;
  height: 50%;
  padding: 10% 6% 6% 6%;
}

@media screen and (max-width: 768px) {
  /*New*/
  /* line 153, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/home.scss */
  .mic_icon {
    width: 22px;
    height: 38px;
  }

  /* line 158, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/home.scss */
  .new_text {
    border-left: 1px solid #858585;
    font-size: 10px !important;
  }

  /*Funding*/
  /* line 165, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/home.scss */
  .funding_card_box {
    height: calc(100vw * 0.53);
  }

  /* line 169, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/home.scss */
  .funding_card, .funding_title, .funding_nums, .funding_money {
    font-size: 1.125rem;
  }

  /* line 173, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/home.scss */
  .funding_num {
    font-size: 0.75rem;
  }

  /* line 177, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/home.scss */
  .funding_title {
    margin-bottom: 0;
  }

  /* line 181, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/home.scss */
  .funding_card_info {
    padding: 8% 6% 6% 6%;
  }

  /* line 185, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/home.scss */
  .arrow_img {
    width: 20px;
    height: 20px;
  }
}
/* Propose */
/* Cover */
/* line 7, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.propose_cover {
  background-image: url(../assets/images/propose_bg.png);
  height: 360px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* line 19, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.propose_text {
  font-size: 1.25rem;
}

/* line 23, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.propose {
  display: flex;
  justify-content: center;
}

/* line 28, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.propose_form {
  width: 100%;
}

/* line 32, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.propose_form .form-group {
  margin-bottom: 7%;
  box-shadow: none;
  border: none;
}

/* line 38, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.propose_form .form-group input {
  border-radius: 4px;
}

/* line 42, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.propose_form .form-group input[placeholder] {
  padding: 2%;
}

/* line 46, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.propose_form textarea {
  font-size: 0.875rem;
}

/* line 50, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.propose_form .form-group select * {
  border: none;
  box-shadow: none;
}

/* line 56, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.file_title {
  font-size: 1rem;
  margin-bottom: 10%;
}

/* line 61, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
#propose_funding {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(231, 231, 231, 0.6);
  padding-top: 3%;
  padding-bottom: 3%;
}

/* line 70, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
#propose_funding p {
  font-size: 0.875rem;
}

/* line 74, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.fund_money_form input {
  display: inline-block;
}

/* line 78, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.propose_text.d-flex > input {
  width: 30%;
  padding: 1% 2% 1% 1%;
  margin-right: 2%;
  margin-left: 2%;
}

/* line 85, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
#propose_notice {
  display: block;
  margin: 0 auto;
  width: 50%;
  padding-top: 3%;
  padding-bottom: 10%;
}

/* line 93, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
#propose_notice p {
  width: 100%;
  margin-left: 10%;
  font-size: 0.875rem;
  list-style-type: circle;
  display: list-item;
}

/* line 101, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
#propose_notice .btn {
  width: 30%;
  display: block;
  margin: 0 auto;
  margin-top: 5%;
}

/* line 108, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.propose_new {
  padding-top: 5%;
  padding-bottom: 5%;
  width: 50%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  /* line 115, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
  .w-600p {
    width: 600px;
  }
}
@media screen and (max-width: 576px) {
  /* line 120, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
  .w-600p {
    width: 300px;
  }
}
/* line 126, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.post {
  width: 80%;
  margin: 50px auto;
}

/* line 131, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.post button {
  display: block;
  margin: 0 auto;
}

/* line 136, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
form .form-group {
  box-shadow: none !important;
}

@media screen and (max-width: 576px) {
  /* line 141, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
  .post {
    width: 95%;
  }

  /* line 144, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
  .post button {
    width: 140px;
  }
}
/*Content*/
/* line 151, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.content {
  padding: 40px 24%;
}

/* line 155, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.content_text {
  margin-bottom: 40px;
}

/* line 159, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.iframe {
  padding-left: 40%;
}

/* line 163, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.fb_btns {
  margin-bottom: 30px;
}

/*Detail First*/
/* line 169, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.big_num {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 10px;
}

/* line 175, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.detail_first {
  padding: 30px 18.75%;
}

/* line 179, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.oval {
  width: 12px;
  height: 12px;
  border-radius: 400px;
  margin-top: 5px;
  margin-right: 5px;
}

/* line 187, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.cons {
  background-color: #bf868e;
}

/* line 191, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.pros {
  background-color: #a6c0bb;
}

/* line 195, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.no_respond {
  background-color: #d4c3ac;
}

/* line 199, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.maker_card {
  background-image: linear-gradient(to bottom, rgba(206, 142, 160, 0.6), rgba(206, 142, 160, 0.6)), url(../../images/joomin.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
}

/* line 207, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.maker_card_info {
  height: 100%;
  padding-top: 70%;
}

/*Detail Second*/
/* line 213, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.detail_second {
  padding: 40px 26%;
}

/* line 217, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.product_img {
  width: 232px;
  height: 166px;
}

/*Detail Third*/
/* line 223, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.detail_third {
  padding: 40px 26% 100px 26%;
}

/* line 227, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.campaign_img {
  width: 100%;
}

@media screen and (max-width: 576px) {
  /*Content*/
  /* line 234, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
  .content {
    padding: 30px 6.66%;
  }

  /* line 238, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
  .iframe {
    padding-left: 25%;
  }

  /* line 243, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
  .content_text {
    line-height: 2;
    margin-bottom: 30px;
  }

  /* line 248, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
  .fb_btns {
    margin-bottom: 20px;
  }

  /*Detail First*/
  /* line 253, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
  .detail_first {
    padding: 0 0;
  }

  /* line 257, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
  .first_text {
    padding: 0 6.6%;
  }

  /* line 261, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
  .oval {
    margin-top: 2px;
    margin-right: 4px;
  }

  /* line 266, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
  .maker_card_info {
    height: 100%;
    padding-top: 80%;
  }

  /* line 270, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
  .maker_cards {
    padding: 0;
  }

  /*Detail Second*/
  /* line 274, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
  .detail_second {
    padding: 20px 6.6%;
  }

  /* line 278, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
  .product_img {
    width: 128px;
    height: 92px;
  }

  /* line 283, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
  .btn-white {
    width: 125px;
  }

  /*Detail Third*/
  /* line 288, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
  .detail_third {
    padding: 20px 0 40px 0;
  }

  /* line 291, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
  .campaign_img {
    width: 100%;
  }
}
/* Maker Card */
/* line 297, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.maker_imgs {
  padding: 0 20% 30px 20%;
}

/* line 301, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.maker_img {
  width: 232px;
  height: 166px;
  object-fit: cover;
}

/* ----------------------------------------Email Form */
/* line 307, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.email_form {
  padding: 40px 30% 80px 30%;
}

/* line 311, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.btn-email {
  width: 164px;
  height: 40px;
  font-size: 1rem;
  margin: 0 auto;
  display: block;
}

/* Email Response */
/* line 320, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.email_response {
  background-color: rgba(231, 231, 231, 0.6);
  padding: 50px 22%;
}

@media screen and (max-width: 576px) {
  /* Maker Profile*/
  /* line 327, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
  .maker_profile h4 {
    font-weight: normal !important;
  }

  /* line 331, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
  .maker_imgs {
    padding: 0 12% 20px 12%;
  }

  /* line 335, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
  .maker_img {
    width: 100%;
    height: 166px;
    margin-bottom: 10px;
  }

  /* Email Form */
  /* line 342, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
  .email_form {
    padding: 30px 12% 60px 12%;
  }

  /* line 346, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
  .btn-email {
    width: 132px;
    height: 32px;
  }

  /*Email Response  */
  /* line 351, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
  .email_response {
    padding: 30px 9%;
  }
}
/*---------------------------- Subscribe */
/* line 358, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.subscribe_form {
  padding: 20px 30%;
}

/* line 362, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
.btn-subscribe {
  width: 164px;
  height: 40px;
  font-size: 1rem;
  margin: 60px auto;
  display: block;
}

@media screen and (max-width: 576px) {
  /* Subscribe */
  /* line 373, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
  .subscribe > p {
    font-weight: normal !important;
  }

  /* line 377, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
  .subscribe_form {
    padding: 20px 12%;
  }

  /* line 381, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/propose.scss */
  .btn-subscribe {
    width: 132px;
    height: 32px;
    font-size: 12px;
    margin: 30px auto;
  }
}
/* TISSUE COVER*/
/* line 6, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/shopping.scss */
.tissue_cover {
  background-image: url(../../assets/images/tissue_desktop.png);
  height: calc(100vw*0.54);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* TISSUE CONTENT */
/* line 16, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/shopping.scss */
.tissue_content {
  padding: 0 24% 60px 24%;
}

/* line 20, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/shopping.scss */
.btn-buy {
  width: 262px;
  height: 44px;
  margin: 40px auto;
  display: block;
}

/* line 27, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/shopping.scss */
.tissue_content > p {
  margin-bottom: 1.5rem;
  line-height: 2;
}

/* line 32, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/shopping.scss */
.tissue_content > h4 {
  line-height: 2;
}

/* line 35, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/shopping.scss */
.w-60 {
  width: 60%;
}

/* line 38, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/shopping.scss */
.w-38 {
  width: 38%;
}

@media screen and (max-width: 576px) {
  /* TISSUE CONTENT */
  /* line 43, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/shopping.scss */
  .tissue_content {
    padding: 0 5% 30px 5%;
  }

  /* line 46, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/shopping.scss */
  .btn-buy {
    height: 32px;
    margin: 30px auto;
  }

  /* line 50, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/shopping.scss */
  .tissue_content > p {
    margin-bottom: 1rem;
    padding: 0 4%;
  }

  /* line 54, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/shopping.scss */
  .tissue_content > h4 {
    padding: 0 4%;
  }
}
/* TISSUE COMPLETE */
/* line 61, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/shopping.scss */
.tissue_complete {
  padding: 60px 32%;
}

/* line 65, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/shopping.scss */
.order_info {
  font-size: 18px;
}

@media screen and (max-width: 576px) {
  /* line 70, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/shopping.scss */
  .tissue_complete {
    padding: 60px 12%;
  }

  /* line 74, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/shopping.scss */
  .order_info {
    font-size: 12px;
    padding: 0 5%;
  }
}
/* TISSUE ORDER */
/* line 81, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/shopping.scss */
.tissue_order {
  padding: 60px 24%;
}

/* line 85, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/shopping.scss */
.order_form {
  padding: 0 3%;
}

/* line 89, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/shopping.scss */
.order_info > select.custom-select {
  padding: 9px 6px;
  line-height: 1.5;
  width: 260px;
  height: 44px;
}

/* line 96, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/shopping.scss */
.order_info_group {
  padding: 0 8% 60px 8%;
}

/* line 100, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/shopping.scss */
.line {
  border: solid 0.5px #979797;
  margin: 60px 0 40px 0;
}

/* line 105, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/shopping.scss */
.order_form2 > .form-group {
  margin-bottom: 30px;
}

@media screen and (max-width: 576px) {
  /* TISSUE ORDER */
  /* line 111, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/shopping.scss */
  .tissue_order {
    padding: 40px 8%;
  }

  /* line 115, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/shopping.scss */
  .order_form {
    padding: 0;
  }

  /* line 119, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/shopping.scss */
  .order_info > select.custom-select {
    padding: 2px 3px;
    line-height: 1.5;
    width: 148px;
    height: 25px;
  }

  /* line 126, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/shopping.scss */
  .order_form > .order_info {
    padding: 0;
  }

  /* line 130, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/shopping.scss */
  .order_info_group {
    padding: 0 9% 40px 9%;
  }

  /* line 134, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/shopping.scss */
  .order_form2 {
    font-size: 12px;
  }

  /* line 138, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/shopping.scss */
  .order_form2 > .form-group {
    margin-bottom: 10px;
  }

  /* line 142, /mnt/c/Users/pjy20/Documents/GitHub/tojung_ver1.0/app/assets/stylesheets/shopping.scss */
  .btn-buy {
    width: 100%;
  }
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

/* Custom settings */
/* Custom settings */

*{
  font-family: 'Nanum Gothic', sans-serif;
}

.bg-light{
  background-color: white !important;
}

.bg-grey{
  background-color: #f1f1f1;
}

.font-10{
  font-size: 0.625rem;
}

.font-12{
  font-size: 0.75rem;
}

.font-14{
  font-size: 0.875rem;
}

.font-16{
  font-size: 1rem;
}

.font-18{
  font-size: 1.125rem;
}

.font-20{
  font-size: 1.25rem;
}

.font-24{
  font-size: 1.5rem;
}

.font-36{
  font-size: 2.25rem;
}

.font-weight-extra-bold{
  font-weight: 800;
}

.font-grey{
  color: #858585;
}

.text-primary{
  color: #3e6373 !important;
}

.visible-xs{
  display: none;
}

.visible-xs-block{
  display: none;
}

.alert{
  position: absolute;
  float: left;
  width: 100%;
  z-index: 10000;
}

.active{
  color: #3e6373 !important;
}

.logo{
  width: 44px;
  height: 40px;
  color: white;
}

.brand{
  position: absolute;
  left: 0;
  top: 0;
}

.underbar-none{
  text-decoration: none;
}

.underbar-none:hover{
  text-decoration: none;
}

/*Detail Cover*/
.detail_num{
  position: relative;
  left: 90%;
  bottom: 46px;
}

.funding_detail_cover{
  background-image: linear-gradient(to bottom, rgba(221,181,67,0.6), rgba(221,181,67,0.6)), url(../images/woman.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: calc(100vw * 0.53);
  padding-top: 5%;
}

.detail_post{
  margin-top: 10%;
}

.funding_detail_content{
  padding-left: 20%;
  padding-right: 20%;
}

.btn-white{
  background-color: white;
  border: 1px solid #a7a7a7;
  border-radius: 0;
  width: 217px;
  color: #a7a7a7;
}

.btn-share{
  width: 15%;
}

.border-bottom{
  border-bottom: 1px solid #a7a7a7;
}

form input{
  border-radius: 3px;
}

form input[placeholder], form textarea[placeholder]{
  font-size: 14px;
  line-height: 1.07;
  padding: 18px 22px;
}

::placeholder{
  color: #aab2bd !important;
}

@media screen and (max-width: 576px) {

  .visible-xs{
    display: inline;
  }

  .visible-xs-block{
    display: block !important;
  }

  .visible-lg{
    display: none !important;
  }

  .font-sm-8{
    font-size: 0.5rem !important;
  }
  .font-sm-10{
    font-size: 0.625rem !important;
  }

  .font-sm-12{
    font-size: 0.75rem !important;
  }

  .font-sm-14{
    font-size: 0.875rem !important;
  }

  .font-sm-16{
    font-size: 1rem !important;
  }

  .font-sm-18{
    font-size: 1.125rem !important;
  }

  .font-sm-20{
    font-size: 1.25rem !important;
  }

  /*Header*/
  .logo{
    width: 36px;
    height: 34px;
  }

  /* Detail Cover */
  .detail_img{
    width: 90%;
  }

  .detail_mobile_cover{
    background-image: linear-gradient(to bottom, rgba(148,54,66,0.6), rgba(148,54,66,0.6)), url(../images/woman.jpg);
    height: calc(100vw * 0.53);
    background-position: center center;
    background-size: cover;
  }

  .detail_title{
    width: 60%;
    height: 50%;
    margin-bottom: 0;
  }

  .detail_infos{
    height: 50%;
  }

  form input[placeholder], form textarea[placeholder]{
    font-size: 10px;
    line-height: 1.5;
    padding: 8px 13px;
  }

}

video{
  height: 576px;
  width: 100%;
}


/* -------------------------------- SIGN --------------------------------- */
/* SignUp */
.sign{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10%;
}

.sign_up_text{
  font-size: 1.5rem;
  line-height: 1.67;
  color: #3e6373;
  margin-bottom: 2.5%;
}

.custom-control.custom-checkbox{
  margin: 4% 0;
}

.custom-control-label{
  font-size: 0.875rem;
  color: #3e6373;
}

.btn-primary{
  background-color: #3e6373 !important;
  width: 100%;
  border-color: #3e6373 !important;
}

.sign_up_btn{
  font-size: 0.875rem;
  line-height: 1.07;
  padding: 3.5%;
  border-radius: 3px;
  box-shadow: 0 1px 5px 0 rgba(171, 175, 179, 0.6), inset 0 -2px 2px 0 rgba(122, 125, 128, 0.2);
  border: solid 1px rgba(122, 125, 128, 0.3);
}

input[checkbox]:checked{
  background-color: #3e6373 !important;
}

/* SignUp_lawmaker */
.img-form{
  box-shadow: none !important;
  border: none;
  display: inline-block;
}

.img_upload{
  line-height: 1.5;
  font-size: 1rem;
  color: #3e6373;
}

.custom-file-label{
  font-size: 0.875rem;
  color: #aab2bd;
  height: auto;
  padding: 3%;
}

.custom-file-label::after{
  height: auto;
  padding: 3%;
  content: "Browse";
  font-size: 0.875rem;
}

.file_btn{
  border: 1px solid #cccccc;
}

/* Sign In */
.social_sign{
  padding-top: 5%;
  padding-bottom: 4%;
  width: 20%;
}

.btn-facebook{
  background-color: #3a589b;
  font-size: 0.875rem;
  width: 100%;
  font-weight: bold;
  border-radius: 8px;
}

.fb_icon{
  width: auto;
  height: 25px;
  margin-top: 2%;
  margin-left: 3%;
  background-color: #3a589b;
}

.fb_text, .kakao_text{
  margin-right: 3%;
}

.btn-kakao{
  background-color: #ffea00;
  font-size: 0.875rem;
  width: 100%;
  font-weight: bold;
  border-radius: 8px;
}

.kakao_icon{
  width: auto;
  height: 25px;
  margin-top: 3%;
  margin-left: 5%;
  background-color: #ffea00;
}

.btn-lawmaker{
  border-radius: 8px;
}

.social_sign > .btn-primary{
  font-size: 0.875rem;
}

.social_sign > button.btn{
  line-height: 2.5;
}

.or_img{
  width: 20%;
  padding-bottom: 4%;
}


form.sign_in ::placeholder{
  color: #3e6373 !important;
}

form.sign_in .form-group{
  background-color: white;
  box-shadow: none;
}

form.sign_in input{
  background-color: #eeeeee;
  border: none;
  box-shadow: none;
  padding: 7%;
  border-radius: 8px;
}

form.sign_in input:hover{
  background-color: #eeeeee;
  border: none;
}

.custom-checkbox.d-flex{
  justify-content: space-between;
}

.custom-checkbox button{
  width: 50%;
  padding: 8%;
  border-radius: 8px;
}

.custom-checkbox .custom-control-label{
  margin-top: 7%;
}

.custom-checkbox .custom-control-label::before{
  margin-top: 6%;
}

.custom-checkbox .custom-control-label::after{
  margin-top: 6%;
}

.sign_in_text{
  font-size: 1.125rem !important;
}

.login_click{
  font-size: 0.875rem;
  color: #3e6373 !important;
  display: flex;
  justify-content: space-between;
}

.text-primary{
  color: #3e6373 !important;
}
