<h1> About 페이지 </h1>
<div class="about_main_image">
   소개 메인 이미지
</div>

<div class="about_description">
   <div class="about_description_header"> 서비스 소개 </div>
   <div class="about_desciption_textarea">
<br>   안녕하세요! 
<br>      국내 최초 법안에 후원할 수 있는 입법안 크라우드펀딩 서비스 ‘투정’ 입니다.
<br>      '투정'은 우리 사회에 필요하지만 통과되지 않은 입법안들을 알리고 정치후원금으로 지지를 보내, 추진할 수 있도록 하는 서비스입니다. 
<br>      구체적인 내용은 다음과 같습니다. 
<br>      1. 소셜미디어(페이스북)를 통해 가치있는 입법안을 컨텐츠화하여 공론화합니다. 
<br>      2. 법안에 필요성을 느낀 시민들은 투정의 '입법안패키지'를 구매해 지지를 표현합니다.
<br>      3. 수익금은 해당 입법안을 발의한 국회의원에게 전달됩니다. 국회의원은 후원금에 대한 사용계획, 법안 추진 상황 등을 공유하면서 시민과 지속적으로 소통합니다.  

   <div>
</div>

<div class="about_member">
   <div class="about_member_header"> 만든자들</div>
   
   <div class="member_desc"> 
<br>  김예인(기획총괄, 디자인)
<br>  "재주를 어질게 쓰며 살아야지!"
<br>  <div> 페이스북, 이메일  </div>
   </div>
   
   <div class="member_desc">
<br>  박진영(운영)
<br>  <div> 페이스북, 이메일 </div>
   </div>

   <div class="member_desc">
<br> 임동진(개발)
<br> <div>  페이스북, 이메일 </div>
   </div>

</div>

<div class="about_board_images">
   <div class="about_board_image">
      이미지1
   </div>
 <div class="about_board_image">
      이미지2
   </div>
 <div class="about_board_image">
      이미지3
   </div>
  
   <div class="about_board_image">
      이미지4
   </div>

   <div class="about_board_image">
      이미지5
   </div>

   <div class="about_board_image">
      이미지6
   </div>
</div>

<div class="search_area"> 
   검색창
</div>
