<h1> 인덱스 페이지 </h1>
<div class="main_image">
   메인이미지
</div>

<div class="best_bill_images">
   <div class="best_bill_image">
      Best 법안 상품 및 패키지 상품
   </div>
   
   <div class="best_bill_image">
      Best 법안 상품 및 패키지 상품
   </div>
   
   <div class="best_bill_image">
      Best 법안 상품 및 패키지 상품
   </div>
   
   <div class="best_bill_image">
      Best 법안 상품 및 패키지 상품
   </div>
</div>

<div class="hoowon">
   후원금이 필요한 이유 이미지
</div>
  
<div class="index_about">
   투정 소개 이미지
</div>

<div class="recommend_bill">
   법안 추천 
</div>
