<h1> Description </h1>

<div class="product_description_intro">
	intro
</div>

<div class="product_description_beforeafter">
	beforeafter
</div>

<div class="product_description_seller">
	seller
    <%= @bill.main_footchair %>
</div>

<div class="product_description_package">
   product_package
</div>

<div class="product_description_detail">
   product_detail
</div>

<div class="product_description_outro">
   product_outro
</div>
