/* Custom settings */
*{
  font-family: 'Nanum Gothic', sans-serif;
}

.bg-light{
  background-color: white !important;
}

.bg-grey{
  background-color: #f1f1f1;
}

.font-10{
  font-size: 0.625rem;
}

.font-12{
  font-size: 0.75rem;
}

.font-14{
  font-size: 0.875rem;
}

.font-16{
  font-size: 1rem;
}

.font-18{
  font-size: 1.125rem;
}

.font-20{
  font-size: 1.25rem;
}

.font-24{
  font-size: 1.5rem;
}

.font-36{
  font-size: 2.25rem;
}

.font-grey{
  color: #858585;
}

.text-primary{
  color: #3e6373 !important;
}
.active{
  color: #3e6373 !important;
}

/* Header */
.brand{
  margin-bottom: 0;
}

.logo{
  width: 78px;
  height: 73px;
}

nav.navbar.navbar-expand-lg{
  padding: 1.75rem 2.0625rem 1.75rem 2.75rem;
}

.nav-item{
  padding: 21px 21px;
}

.nav-link {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #858585;
  line-height: 1.15;
}

.visible-xs{
  display: none;
}

.visible-xs-block{
  display: none;
}


/* Cover */
.cover{
  height: 576px;
  width: 100%;
  background-image: url(../images/funding.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

video{
  height: 576px;
  width: 100%;
}

/* New */
.new{
  background-color: #eeeef0;
}

.new_logo{
  padding: 8% 8.3%;
}

.mic_icon{
  width: 70%;
  height: auto;
}

.new_textbox{
  white-space: pre-wrap;
  display: flex;
  align-items: center;
}

.new_text{
  font-size: 1.5rem;
  line-height: 1.25;
  color: #858585;
  margin-bottom: 0;
  padding-left: 11%;
  border-left: 4px solid #858585;
}

.new .container{
  max-width: 100vw;
}

.visible-lg .nav-item{
  height: 28%;
  font-size: 0.875rem;
}

.visible-lg .nav-item .active{
  color: #3e6373;
  font-weight: bold;
}

/* Funding_list */
.funding_list > .container{
  max-width: 100vw;
}

.funding_card_box{
  background-position: center center;
  background-size: 100% 100%;
  height: calc(50vw * 0.53);
}

.funding_card a{
  text-decoration: none;
}

.funding_card_box:nth-child(6n){
  background-image: linear-gradient(to bottom, rgba(221,181,67,0.6), rgba(221,181,67,0.6)), url(../images/woman.jpg);
}

.funding_card_box:nth-child(6n+1){
  background-image: linear-gradient(to bottom, rgba(206,142,160,0.6), rgba(206,142,160,0.6)), url(../images/woman.jpg);
}

.funding_card_box:nth-child(6n+2){
  background-image: linear-gradient(to bottom, rgba(148,54,66,0.6), rgba(148,54,66,0.6)), url(../images/woman.jpg);
}

.funding_card_box:nth-child(6n+3){
  background-image: linear-gradient(to bottom, rgba(71,120,140,0.6), rgba(71,120,140,0.6)), url(../images/woman.jpg);
}

.funding_card_box:nth-child(6n+4){
  background-image: linear-gradient(to bottom, rgba(184,155,117,0.6), rgba(184,155,117,0.6)), url(../images/woman.jpg);
}

.funding_card_box:nth-child(6n+5){
  background-image: linear-gradient(to bottom, rgba(60,35,62,0.6), rgba(60,35,62,0.6)), url(../images/woman.jpg);
}

.funding_title{
  font-size: 1.5rem;
  font-weight: bold;
  width: 55%;
  padding: 6% 6%;
  margin-bottom: 15%;
}

.funding_d_day{
  font-size: 1.5rem;
}

.funding_days{
  font-size: .875rem;
  font-weight: bold;
  padding-right: 5%;
  margin-bottom: 0;
}

.funding_money{
  font-size: 1.5rem;
  font-weight: bold;
  padding-right: 5%;
  line-height: 1;
  margin-bottom: 0;
}

.funding_card_info{
  justify-content: flex-end;
  align-items: flex-end;
}
/* Propose */
/* Cover */
.propose_cover{
  background-image: url(../images/propose_bg.png);
  height: 360px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.propose_text{
  font-size: 1.25rem;
}

.propose{
  display: flex;
  justify-content: center;
}

.propose_form{
  width: 50%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.propose_form .form-group{
  margin-bottom: 7%;
  box-shadow: none;
  border: none;
}

.propose_form .form-group input{
  border-radius: 4px;
}

.propose_form .form-group input[placeholder]{
  padding: 2%;
}

.propose_form textarea{
  font-size: 0.875rem;
}

.propose_form .form-group select *{
  border: none;
  box-shadow: none;

}

.file_title{
  font-size: 1rem;
  margin-bottom: 10%;
}

#propose_funding{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(231, 231, 231, 0.6);
  padding-top: 3%;
  padding-bottom: 3%;
}

#propose_funding p{
    font-size: 0.875rem;
}

.fund_money_form input{
  display: inline-block;
}

.propose_text.d-flex{
  width: 50%;
}

.propose_text.d-flex > input{
  width: 30%;
  padding: 1% 2% 1% 1% ;
  margin-right: 2%;
  margin-left: 2%;
}

#propose_notice{
  display: block;
  margin: 0 auto;
  width: 50%;
  padding-top: 3%;
  padding-bottom: 10%;
}

#propose_notice p {
  width: 100%;
  margin-left: 10%;
  font-size: 0.875rem;
  list-style-type: circle;
  display: list-item;
}

#propose_notice .btn{
  width: 30%;
  display: block;
  margin: 0 auto;
  margin-top: 5%;
}

/* Funding */
.funding_cover{
  background-image: url(../images/funding_bg.png);
  height: 360px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#funding_content{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 7%;
}

#funding_content p{
    font-size: 0.875rem;
}

.fund_title{
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 2.25rem;
  font-weight: bold;
  color: #3e6373;
}

.user_nickname{
  font-weight: bold;
}

#funding_content .btn{
  width: 15%;
  display: block;
  margin: 0 auto;
  margin-top: 5%;
}

/* Share */
.share_cover{
  background-image: url(../images/share_bg.png);
  height: 682px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
}

.share_cover p{
  font-size: 0.875rem;
}

.share_content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.share_icons{
  width: 20%;
  justify-content: space-around;
}

.share_icon{
  width: 60px;
  height: 60px;
}

.share_content p{
  font-size: 1.125rem;
}

.money{
  font-size: 1.25rem;
  font-weight: bold;
}

.share_ment{
  font-size: 1.5rem;
  font-weight: bold;
}

.fund_link{
  font-size: 1.5rem;
  color: #404040;
}

.process{
  width: 50%;
  margin-top: 5%;
  margin-bottom: 10%;
}

/* Funding detail */
.funding_detail_cover{
  background-image: linear-gradient(to bottom, rgba(221,181,67,0.6), rgba(221,181,67,0.6)), url(../images/woman.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: calc(100vw * 0.53);
  padding-top: 5%;
}

.funding_detail_content{
  padding-left: 20%;
  padding-right: 20%;
}

.btn-white{
  background-color: white;
  border: 1px solid #a7a7a7;
  border-radius: 0;
  color: #a7a7a7;
}

.btn-share{
  width: 15%;
}

.border-bottom{
  border-bottom: 1px solid #a7a7a7;
}

.detail_menu{
  padding-left: 10%;
  padding-right: 10%;
}

.detail_menu form{
  padding-left: 12%;
  padding-right: 12%;
}

.detail_menu form .form-group{
  box-shadow: none;
}

.detail_menu form input[placeholder]{
  padding: 1%;
}

.detail_menu form .custom-file-label{
  padding: 2%;
}

.detail_menu form .custom-file-label::after{
  padding: 2%;
}

.detail_menu .btn{
  width: 20%;
  margin: 0 auto;
  display: block;
}

.detail_posts{
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 15%;
}

/* Detail Matching 1 */
.matching1_text{
  padding-top: 8%;
  padding-bottom: 8%;
}

.detail_menu > .container{
  margin-top: 10%;
}

/* Detail Matching 2 */
.lawmaker_img{
  width: 100px;
  height: 100px;
  border-radius: 300px;
}

.lawmaker_img:hover{
  border: 4px solid #3e6373;
}

.hover_green:hover{
  color: #3e6373;
  font-weight: bold;
  text-decoration: none;
}

/* Detail_Funding 2 */
.post{
  padding-left: 15%;
  padding-right: 15%;
}

.post_heart:hover{
  background-image: url('../images/heart_black.png');
}

.back{
  display: block;
  text-align: left;
  text-decoration: none;
}

.border-bottom-c{
  border-bottom: 1px solid #cccccc;
}

.crown{
  width: 5%;
  padding-left: 1%;
}

/* Detail Lawmake */
.button-lg{
  width: 20%;
}

/* Detail Test */
#promise{
  padding: 3% 20% 1% 20%;
}

.crown2{
  width: 22.9px;
  height: 10.9px;
  margin-left: 3px;
}

/* Detail Candidate */
.candidate{
  padding: 5% 20% 10% 20%;
}

.mb-10p{
  margin-bottom: 10%;
}

.candidate form > .form-group{
  box-shadow: none;
}

.candidate form > .form-group input[placeholder]{
  padding: 1.5%;
}

.candidate form .custom-checkbox .custom-control-label{
  margin-top: 0%;
}
.candidate form .custom-checkbox .custom-control-label::before{
  margin-top: 0%;
}
.candidate form .custom-checkbox .custom-control-label::after{
  margin-top: 0%;
}

.candidate form .custom-checkbox .writebox::before{
  margin-top: 3px;
}

.candidate form .custom-checkbox .writebox::after{
  margin-top: 3px;
}

.text-black{
  color: black !important;
}

.candidate form .custom-control.custom-checkbox{
  margin: 3% 0;
}

.checkbox_text{
  border: none;
  border-bottom: 1px solid #cccccc;
  width: 200%;
}

.check_box:focus{
  outline: none;
  border: none;
}

.candidate form .btn{
  width: 30%;
  margin: 10% auto 0 auto;
  display: block;
}

/* MY PAGE */
.mypage{
  padding: 3% 32% 5% 32%;
}

.w-160{
  width: 160px;
}
/* SEARCH */
.search{
  padding-left: 8%;
  padding-right: 8%;

}
.icon_search{
  width: 15px;
  height: 15px;
  position: absolute;
  left: 30px;
  top: 21px;
}

input.search_bar{
  background-color: #fafafa;
  border-radius: 18px;
  width: 100%;
  border: none;
}

input.search_bar[placeholder]{
  font-size: 0.875rem;
  font-weight: bold;
  padding: 8px;
  padding-left: 5%;
  color: rgba(0, 0, 0, 0.38);
}

/* ERROR */
.error_img{
  width: 270px;
  height: 253px;
}

.error{
  padding: 8% 30% 22% 30%;
}

.error_title{
  font-size: 3rem;
  font-weight: bold;
  color: #3e6373;
}
