/* Mobile CSS */
@media screen and (max-width: 576px) {
  .font-sm-8{
    font-size: 0.5rem !important;
  }
  .font-sm-10{
    font-size: 0.625rem !important;
  }

  .font-sm-12{
    font-size: 0.75rem !important;
  }

  .font-sm-14{
    font-size: 0.875rem !important;
  }

  .font-sm-16{
    font-size: 1rem !important;
  }

  .font-sm-18{
    font-size: 1.125rem !important;
  }

  .font-sm-20{
    font-size: 1.25rem !important;
  }
  /* Main */
  /* Header */
  nav.navbar.navbar-expand-lg{
    justify-content: space-between;
    padding: 12px 20px;
  }

  .visible-xs{
    display: inline;
  }

  .visible-xs-block{
    display: block;
  }

  .mylog_icon{
    width: 14px;
    height: 20px;
  }

  .logo{
    width: 36px;
    height: 34px;
  }

  .search_icon{
    width: 20px;
    height: 20px;
  }

  /* Cover */
  .cover{
    height: 40vh;
  }
  /* New */

  .new_logo{
    padding: 5% 7%;
  }

  .mic_icon{
    width: 220%;
    height: auto;
  }

  .new_text{
    font-size: 0.625rem;
    line-height: 1.4;
    padding-left: 15px;
    border-left: 1px solid #858585;
  }

  .visible-lg{
    display: none !important;
  }

  /* Funding */

  .funding_card_box{
    height: calc(100vw * 0.53);
  }

  .funding_card, .funding_title, .funding_d_day, .funding_money{
    font-size: 1.125rem;
  }

  .funding_days{
    font-size: 0.66666666rem;
  }

  .funding_title{
    margin-bottom: 10%;
  }

  /* // Main */

  /* SignUp */
  form{
    width: 72% !important;
  }

  h3.sign_up_text{
    font-size: 0.875rem;
    margin-top: 9%;
    margin-bottom: 9%;
  }

  form input[placeholder]{
    font-size: 0.75rem;
    padding: 6%;
  }

  div.custom-control.custom-checkbox{
    margin-bottom: 10%;
  }

  .custom-control .custom-control-label{
    font-size: 0.625rem;
  }

  button.sign_up_btn{
    font-size: 0.75rem;
    padding-top: 6%;
    padding-bottom: 6%;
  }

  /* SingUp_lawmaker */
  label.custom-file-label{
    font-size: 0.75rem;
    padding: 2%;
  }

  label.custom-file-label::after{
    height: auto;
    padding: 1%;
    content: "찾기";
    font-size: 0.625rem;
    width: 15%;
    text-align: center;
  }

  div.custom-control.custom-checkbox.mr_lawmaker{
    margin-top: 10%;
  }

  /* Sign In */
  .sign .social_sign{
    width: 70%;
    padding-top: 10%;
  }

  .sign_in .custom-checkbox .custom-control-label{
    margin-top: 8%;
  }

  img.or_img{
    width: 65%;
    padding-top: 5%;
  }

  div.login_click{
    font-size: 0.75rem;
  }

  .sign_in_text{
    font-size: 1rem !important;
  }

  /* Propose */
  /* Propose cover */
  .propose_cover{
    height: calc(100vw * 0.7);
  }

  .propose_cover p{
    font-size: 1rem;
  }

  /* Propose form */
  #propose_form{
    padding-bottom: 5%;
  }

  #propose_funding p, #propose_notice p{
    font-size: 0.625rem;
    margin-left: 0;
  }

  #propose_notice .btn{
    width: 100%;
    margin-top: 10%;
  }

  #propose_notice{
    width: 80%;
    padding-top: 5%;
  }

  select.form-control:not([size]):not([multiple]){
    height: 30px;
    padding: 1%;
  }

  #propose_funding{
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .propose_text.d-flex > input{
    width: 120px;
    height: 30px;
    border-radius: 4px;
    margin-top: -2%;
  }

  .w-250p{
    width: 250px !important;
  }

  /* Share */
  .share_cover{
    height: calc(100vw * 0.84);
  }

  .fund_title{
    font-size: 0.75rem;
  }

  .share_cover p , .share_content p{
    font-size: 0.625rem;
    text-align: center;
  }

  .mobile_text{
    display: block;
  }

  .share_icons{
    width: 40%;
  }

  .share_icon{
    width: 40px;
    height: 40px;
  }

  .money{
    font-size: 0.75rem;
  }

  .share_ment{
    font-size: 0.75rem;
  }

  .fund_link{
    font-size: 0.75rem;
    color: #aaaaaa;
  }

  .process{
    width: 80%;
  }

  /* Detail */
  .detail{
    padding-left: 10%;
    padding-right: 10%;
  }

  .detail_img{
    width: 90%;
  }

  .btn-share{
    width: 35%;
  }

  .detail_mobile_cover{
    background-image: linear-gradient(to bottom, rgba(148,54,66,0.6), rgba(148,54,66,0.6)), url(../images/woman.jpg);
    height: calc(100vw * 0.53);
    background-position: center center;
    background-size: cover;
  }

  .detail_title{
    width: 60%;
  }

  .funding_detail_content{
    padding-left: 5%;
    padding-right: 5%;
  }

  .funding_detail_content .btn{
    width: 40%;
  }

  .detail_menu form{
    padding: 0;
  }

  .detail_menu form input[placeholder]{
    padding: 3%;
  }

  .detail_menu .btn{
    width: 100%;
    padding: 4%;
  }

  .detail_posts{
    padding-left: 10%;
    padding-right: 10%;
  }

  /* Detail Funding 2 */
  .post{
    padding-left: 0;
    padding-right: 0;
  }

  .post_img{
    width: 100%;
  }

  /* Detail Matching 1 */
  .vw-80{
    width: 80vw !important;
  }

  .matching1_text{
    padding-top: 12%;
  }

  /* Detail LawMake */
  .button-lg{
    width: 80% !important;
  }

  #detail_matching2{
    padding-left: 5%;
    padding-right: 5%;
  }

  /* Detail Test */
  #promise{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 10px;
  }

  /* Detail Candidate */
  .candidate{
    padding: 5% 13% 10% 13%;
  }

  .candidate form input[placeholder]{
    padding: 2%;
  }

  .checkbox_text{
    width: 150%;
  }
  .candidate form .btn{
    width: 100%;
  }

  /* MY PAGE */
  .mypage{
    padding: 10% 6% 15% 6%;
  }

  .w-sm-130{
    width: 130px;
  }

  /* SEARCH */
  input.search_bar[placeholder]{
    padding-left: 15%;
  }
  /*  ERROR */
  .error{
    padding: 8% 5% 22% 5%;
  }
}
