/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Menu 바 */

/* Custom settings */
*{
  font-family: 'Nanum Gothic', sans-serif;
}

.bg-light{
  background-color: white !important;
}

.bg-grey{
  background-color: #f1f1f1;
}

.font-10{
  font-size: 0.625rem;
}

.font-12{
  font-size: 0.75rem;
}

.font-14{
  font-size: 0.875rem;
}

.font-16{
  font-size: 1rem;
}

.font-18{
  font-size: 1.125rem;
}

.font-20{
  font-size: 1.25rem;
}

.font-24{
  font-size: 1.5rem;
}

.font-36{
  font-size: 2.25rem;
}

.font-weight-extra-bold{
  font-weight: 800;
}

.font-grey{
  color: #858585;
}

.text-primary{
  color: #3e6373 !important;
}

.visible-xs{
  display: none;
}

.visible-xs-block{
  display: none;
}

.alert{
  position: absolute;
  float: left;
  width: 100%;
  z-index: 10000;
}

.active{
  color: #3e6373 !important;
}

.logo{
  width: 44px;
  height: 40px;
  color: white;
}

.brand{
  position: absolute;
  left: 0;
  top: 0;
}

.underbar-none{
  text-decoration: none;
}

.underbar-none:hover{
  text-decoration: none;
}

/*Detail Cover*/
.detail_num{
  position: relative;
  left: 90%;
  bottom: 46px;
}

.funding_detail_cover{
  background-image: linear-gradient(to bottom, rgba(221,181,67,0.6), rgba(221,181,67,0.6)), url(../../images/woman.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: calc(100vw * 0.53);
  padding-top: 5%;
}

.detail_post{
  margin-top: 10%;
}

.funding_detail_content{
  padding-left: 20%;
  padding-right: 20%;
}

.btn-white{
  background-color: white;
  border: 1px solid #a7a7a7;
  border-radius: 0;
  width: 217px;
  color: #a7a7a7;
}

.btn-share{
  width: 15%;
}

.border-bottom{
  border-bottom: 1px solid #a7a7a7;
}

form input{
  border-radius: 3px;
}

form input[placeholder], form textarea[placeholder]{
  font-size: 14px;
  line-height: 1.07;
  padding: 18px 22px;
}

::placeholder{
  color: #aab2bd !important;
}

@media screen and (max-width: 576px) {

  .visible-xs{
    display: inline;
  }

  .visible-xs-block{
    display: block !important;
  }

  .visible-lg{
    display: none !important;
  }

  .font-sm-8{
    font-size: 0.5rem !important;
  }
  .font-sm-10{
    font-size: 0.625rem !important;
  }

  .font-sm-12{
    font-size: 0.75rem !important;
  }

  .font-sm-14{
    font-size: 0.875rem !important;
  }

  .font-sm-16{
    font-size: 1rem !important;
  }

  .font-sm-18{
    font-size: 1.125rem !important;
  }

  .font-sm-20{
    font-size: 1.25rem !important;
  }

  /*Header*/
  .logo{
    width: 36px;
    height: 34px;
  }

  /* Detail Cover */
  .detail_img{
    width: 90%;
  }

  .detail_mobile_cover{
    background-image: linear-gradient(to bottom, rgba(148,54,66,0.6), rgba(148,54,66,0.6)), url(../images/woman.jpg);
    height: calc(100vw * 0.53);
    background-position: center center;
    background-size: cover;
  }

  .detail_title{
    width: 60%;
    height: 50%;
    margin-bottom: 0;
  }

  .detail_infos{
    height: 50%;
  }

  form input[placeholder], form textarea[placeholder]{
    font-size: 10px;
    line-height: 1.5;
    padding: 8px 13px;
  }

}


video{
  height: 576px;
  width: 100%;
}





 /* MY PAGE */
 .mypage{
   padding: 3% 32% 5% 32%;
 }

 .w-160{
   width: 160px;
 }
 /* SEARCH */
 .search{
   padding-left: 8%;
   padding-right: 8%;

 }
 .icon_search{
   width: 15px;
   height: 15px;
   position: absolute;
   left: 30px;
   top: 21px;
 }

 input.search_bar{
   background-color: #fafafa;
   border-radius: 18px;
   width: 100%;
   border: none;
 }

 input.search_bar[placeholder]{
   font-size: 0.875rem;
   font-weight: bold;
   padding: 8px;
   padding-left: 5%;
   color: rgba(0, 0, 0, 0.38);
 }

 /* ERROR */
 .error_img{
   width: 270px;
   height: 253px;
 }

 .error{
   padding: 8% 30% 22% 30%;
 }

 .error_title{
   font-size: 3rem;
   font-weight: bold;
   color: #3e6373;
 }

/* ---------------------------------------SIGN------------------------------------------- */
/* SignUp */
.sign{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10%;
}

form{
  width: 50%;
}

.box-none{
  box-shadow: none !important;
}

form .form-group{
  border-radius: 3px;
  box-shadow: inset 1px 1px 3px 0 #ccd1d9;
}

.sign_up_text{
  font-size: 1.5rem;
  line-height: 1.67;
  color: #3e6373;
  margin-bottom: 2.5%;
}

::placeholder{
  color: #aab2bd !important;
}

input[placeholder]{
  font-size: 0.875rem;
  line-height: 1;
  padding: 3%;
}

.custom-control.custom-checkbox{
  margin: 4% 0;
}

.custom-control-label{
  font-size: 0.875rem;
  color: #3e6373;
}

.btn-primary{
  background-color: #3e6373 !important;
  width: 100%;
  border-color: #3e6373 !important;
}

.line-1{
  line-height: 1 !important;
}

.sign_up_btn{
  font-size: 0.875rem ;
  line-height: 1.07;
  padding: 3.5%;
  border-radius: 3px;
  box-shadow: 0 1px 5px 0 rgba(171, 175, 179, 0.6), inset 0 -2px 2px 0 rgba(122, 125, 128, 0.2);
  border: solid 1px rgba(122, 125, 128, 0.3) !important;
}
.custom-checkbox > .login_btn{
  width: 50%;
  padding: 8%;
  border-radius: 8px;
}

input[checkbox]:checked{
  background-color: #3e6373 !important;
}

/* SignUp_lawmaker */
.img-form{
  box-shadow: none !important;
  border: none;
  display: inline-block;
}

.img_upload{
  line-height: 1.5;
  font-size: 1rem;
  color: #3e6373;
}

.custom-file-label{
  font-size: 0.875rem;
  color: #aab2bd;
  height: auto;
  padding: 3%;
}

.custom-file-label::after{
  height: auto;
  padding: 3%;
  content: "Browse";
  font-size: 0.875rem;
}

.file_btn{
  border: 1px solid #cccccc;
}

/* Sign In */
.social_sign{
  padding-top: 5%;
  padding-bottom: 4%;
  width: 20%;
}

.social_sign form.button_to{
  width: 100%;
}

.btn-facebook{
  background-color: #3a589b;
  font-size: 0.875rem !important;
  width: 100%;
  font-weight: bold !important;
  border-radius: 8px !important;
}

.fb_icon{
  width: auto;
  height: 25px;
  margin-top: 2%;
  margin-left: 3%;
  background-color: #3a589b;
}

.fb_text, .kakao_text{
  margin-right: 3%;
}

.btn-kakao{
  background-color: #ffea00;
  font-size: 0.875rem !important;
  width: 100%;
  font-weight: bold !important;
  border-radius: 8px !important;
}

.kakao_icon{
  width: auto;
  height: 25px;
  margin-top: 3%;
  margin-left: 5%;
  background-color: #ffea00;
}

.btn-google{
  background-color: #DC4A38;
  font-size: 0.875rem !important;
  width: 100%;
  font-weight: bold !important;
  border-radius: 8px !important;
}

.google_icon{
  width: auto;
  height: 25px;
  margin-top: 3%;
  margin-left: 5%;
  background-color: #DC4A38;
}

.btn-lawmaker{
  border-radius: 8px;
}

.social_sign > .btn-primary{
  font-size: 0.875rem;
}

.social_sign > form > button.btn{
  line-height: 2.5;
}

.or_img{
  width: 20%;
  padding-bottom: 4%;
}

.sign_in{
  width: 20%;
}

form.sign_in ::placeholder{
  color: #3e6373 !important;
}

form.sign_in .form-group{
  background-color: white;
  box-shadow: none;
}

form.sign_in input{
  background-color: #eeeeee;
  border: none;
  box-shadow: none;
  padding: 7%;
  border-radius: 8px;
}

form.sign_in input:hover{
  background-color: #eeeeee;
  border: none;
}

.custom-checkbox.d-flex{
  justify-content: space-between;
}

.custom-checkbox button{
  width: 50%;
  padding: 8%;
  border-radius: 8px;
}

.custom-checkbox .custom-control-label{
  margin-top: 7%;
}

.custom-checkbox .custom-control-label::before{
  margin-top: 6%;
}

.custom-checkbox .custom-control-label::after{
  margin-top: 6%;
}

.sign_in_text{
  font-size: 1.125rem !important;
}

.login_click{
  font-size: 0.875rem;
  color: #3e6373 !important;
  display: flex;
  justify-content: space-between;
}

a.text-primary{
  color: #3e6373 !important;
}


/* --------------------------------------Mobile------------------------------------------- */
/* Mobile CSS */
@media screen and (max-width: 576px) {
  .font-sm-8{
    font-size: 0.5rem !important;
  }
  .font-sm-10{
    font-size: 0.625rem !important;
  }

  .font-sm-12{
    font-size: 0.75rem !important;
  }

  .font-sm-14{
    font-size: 0.875rem !important;
  }

  .font-sm-16{
    font-size: 1rem !important;
  }

  .font-sm-18{
    font-size: 1.125rem !important;
  }

  .font-sm-20{
    font-size: 1.25rem !important;
  }
  /* Main */
  /* Header */
  nav.navbar.navbar-expand-lg{
    justify-content: space-between;
    padding: 12px 20px;
  }

  .visible-xs{
    display: inline;
  }

  .visible-xs-block{
    display: block;
  }

  .mylog_icon{
    width: 20px;
    height: 20px;
  }

  .logo{
    width: 36px;
    height: 34px;
  }

  .search_icon{
    width: 20px;
    height: 20px;
  }

  /* Cover */
  /* New */

  .new_logo{
    padding: 5% 7%;
  }


  .new_text{
    font-size: 0.625rem;
    line-height: 1.4;
    padding-left: 15px;
    border-left: 1px solid #858585;
  }

  .visible-lg{
    display: none !important;
  }

  /* Funding */

  .funding_card_box{
    height: calc(100vw * 0.53);
  }

  .funding_card, .funding_title, .funding_d_day, .funding_money{
    font-size: 1.125rem;
  }

  .funding_days{
    font-size: 0.66666666rem;
  }

  .funding_title{
    margin-bottom: 0;
    height: 50%;
  }

  .funding_card_info{
    height: 50%;
  }

  .funding_cover{
    height: calc(100vw*0.7);
  }
  /* // Main */

  /* SignUp */
  form{
    width: 72% !important;
  }

  h3.sign_up_text{
    font-size: 0.875rem;
    margin-top: 9%;
    margin-bottom: 9%;
  }

  form input[placeholder]{
    font-size: 0.75rem;
    padding: 6%;
  }

  div.custom-control.custom-checkbox{
    margin-bottom: 10%;
  }

  .custom-control .custom-control-label{
    font-size: 0.625rem;
  }

  input.sign_up_btn{
    font-size: 0.75rem;
    padding-top: 6%;
    padding-bottom: 6%;
  }

  /* SingUp_lawmaker */
  label.custom-file-label{
    font-size: 0.75rem;
    padding: 2%;
  }

  label.custom-file-label::after{
    height: auto;
    padding: 1%;
    content: "찾기";
    font-size: 0.625rem;
    width: 15%;
    text-align: center;
  }

  div.custom-control.custom-checkbox.mr_lawmaker{
    margin-top: 10%;
  }

  /* Sign In */
  .sign .social_sign{
    width: 70%;
    padding-top: 10%;
  }

  .social_sign form.button_to{
    width: 100% !important;
  }

  .line-1{
    line-height: 1 !important;
  }

  .sign_in .custom-checkbox .custom-control-label{
    margin-top: 8%;
  }

  img.or_img{
    width: 65%;
    padding-top: 5%;
  }

  div.login_click{
    font-size: 0.75rem;
  }

  .sign_in_text{
    font-size: 1rem !important;
  }

  /* Propose */
  /* Propose cover */
  .propose_cover{
    height: calc(100vw * 0.7);
  }

  .propose_cover p{
    font-size: 1rem;
  }

  /* Propose form */
  #propose_form{
    padding-bottom: 5%;
  }

  .propose_new{
    width: 50%;
    margin: 0 auto;
  }

  #propose_funding p, #propose_notice p{
    font-size: 0.625rem;
    margin-left: 0;
  }

  #propose_notice .btn{
    width: 100%;
    margin-top: 10%;
  }

  #propose_notice{
    width: 80%;
    padding-top: 5%;
  }

  select.form-control:not([size]):not([multiple]){
    height: 30px;
    padding: 1%;
  }

  #propose_funding{
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .propose_text.d-flex > input{
    width: 120px;
    height: 30px;
    border-radius: 4px;
    margin-top: -2%;
  }

  .w-250p{
    width: 250px !important;
  }

  /* Share */
  .share_cover{
    height: calc(100vw * 0.84);
  }

  .fund_title{
    font-size: 0.75rem;
  }

  .share_cover p , .share_content p{
    font-size: 0.625rem;
    text-align: center;
  }

  .mobile_text{
    display: block;
  }

  .share_icons{
    width: 40%;
  }

  .share_icon{
    width: 40px;
    height: 40px;
  }

  .money{
    font-size: 0.75rem;
  }

  .share_ment{
    font-size: 0.75rem;
  }

  .fund_link{
    font-size: 0.75rem;
    color: #aaaaaa;
  }

  .process{
    width: 80%;
  }

  /* Detail */
  .detail{
    padding-left: 10%;
    padding-right: 10%;
  }

  .detail_img{
    width: 90%;
  }

  .btn-share{
    width: 35%;
  }

  .detail_mobile_cover{
    background-image: linear-gradient(to bottom, rgba(148,54,66,0.6), rgba(148,54,66,0.6)), url(../images/woman.jpg);
    height: calc(100vw * 0.53);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .detail_title{
    width: 60%;
    height: 50%;
  }

  .funding_detail_content{
    padding-left: 5%;
    padding-right: 5%;
  }

  .funding_detail_content .btn{
    width: 40%;
  }

  .detail_menu form{
    padding: 0;
  }

  .detail_menu form input[placeholder]{
    padding: 3%;
  }

  .detail_menu .btn{
    width: 100%;
    padding: 4%;
  }

  .detail_posts{
    padding-left: 10%;
    padding-right: 10%;
  }

  /* Detail Funding 2 */
  .post{
    padding-left: 0;
    padding-right: 0;
  }

  .post_img{
    width: 100%;
  }

  /* Detail Matching 1 */
  .vw-80{
    width: 80vw !important;
  }

  .matching1_text{
    padding-top: 12%;
  }

  /* Detail LawMake */
  .button-lg{
    width: 80% !important;
  }

  #detail_matching2{
    padding-left: 5%;
    padding-right: 5%;
  }

  /* Detail Test */
  #promise{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 10px;
  }

  /* Detail Candidate */
  .candidate{
    padding: 5% 13% 10% 13%;
  }

  .candidate form input[placeholder]{
    padding: 2%;
  }

  .checkbox_text{
    width: 150%;
  }
  .candidate form .btn{
    width: 100%;
  }

  /* MY PAGE */
  .mypage{
    padding: 10% 6% 15% 6%;
  }

  .w-sm-130{
    width: 130px;
  }

  /* SEARCH */
  input.search_bar[placeholder]{
    padding-left: 15%;
  }
  /*  ERROR */
  .error{
    padding: 8% 5% 22% 5%;
  }

  .w-sm-100{
    width: 100% !important;
  }

  .w-sm-50{
    width: 50% !important;
  }
  .w-sm-120p{
    width: 120px !important;
  }
  .w-sm-70{
    width: 70% !important;
  }
}
