// Place all the styles related to the community controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.fa-heart:before{
  color: black;
}
.decoration-none:hover{
  text-decoration: none;
}
