// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Cover */
.cover{
  height: calc(100vw*0.56);
  width: 100%;
  background-image: url(../../../assets/images/cover.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.arrow{
  position: relative;
  left: 50%;
  top: 85%;
  animation: movingArrow 2000ms infinite linear;
}

.arrow_img{
  width: 35px;
  height: 36px;
}

@keyframes movingArrow{
  0%{top: 85%;}
  100%{top: 90%;}
}

/* New */
.new{
  background-color: #eeeef0;
}

.mic_icon{
  width: 56px;
  height: 83px;
}

.new_textbox{
  white-space: pre-wrap;
  display: flex;
  align-items: center;
}

.new_text{
  line-height: 1.5;
  color: #858585;
  margin-bottom: 0;
  padding-left: 8%;
  border-left: 4px solid #858585;
}

.new .container{
  max-width: 100vw;
}

/* Funding_list */
.funding_list > .container{
  max-width: 100vw;
}

.funding_card_box{
  background-position: center center;
  background-size: 100% 100%;
  height: calc(50vw * 0.53);
}

.funding_card a{
  text-decoration: none;
}

.funding_card_box:nth-child(6n){
  background-image: linear-gradient(to bottom, rgba(221,181,67,0.6), rgba(221,181,67,0.6)), url(../images/woman.jpg);
}

.funding_card_box:nth-child(6n+1){
  background-image: linear-gradient(to bottom, rgba(206,142,160,0.6), rgba(206,142,160,0.6)), url(../images/woman.jpg);
}

.funding_card_box:nth-child(6n+2){
  background-image: linear-gradient(to bottom, rgba(148,54,66,0.6), rgba(148,54,66,0.6)), url(../images/woman.jpg);
}

.funding_card_box:nth-child(6n+3){
  background-image: linear-gradient(to bottom, rgba(71,120,140,0.6), rgba(71,120,140,0.6)), url(../images/woman.jpg);
}

.funding_card_box:nth-child(6n+4){
  background-image: linear-gradient(to bottom, rgba(184,155,117,0.6), rgba(184,155,117,0.6)), url(../images/woman.jpg);
}

.funding_card_box:nth-child(6n+5){
  background-image: linear-gradient(to bottom, rgba(60,35,62,0.6), rgba(60,35,62,0.6)), url(../images/woman.jpg);
}

.funding_title{
  font-size: 1.5rem;
  font-weight: bold;
  width: 55%;
  height: 50%;
  padding: 6% 6%;
}

.funding_nums{
  font-size: 1.5rem;
}

.funding_num{
  font-size: 1.125rem;
  font-weight: bold;
  padding-right: 5%;
  margin-bottom: 0;
}

.funding_money{
  font-size: 1.5rem;
  font-weight: bold;
  padding-right: 5%;
  line-height: 1;
  margin-bottom: 0;
}

.funding_card_info{
  justify-content: flex-end;
  align-items: flex-end;
  height: 50%;
  padding-top: 8%;
}

@media screen and (max-width: 576px) {
/*New*/
  .mic_icon{
    width: 22px;
    height: 38px;
  }

  .new_text{
    border-left: 1px solid #858585;
  }

/*Funding*/

  .funding_card_box{
    height: calc(100vw * 0.53);
  }

  .funding_card, .funding_title, .funding_nums, .funding_money{
    font-size: 1.125rem;
  }

  .funding_num{
    font-size: 0.75rem;
  }

  .funding_title{
    margin-bottom: 0;
  }

  .arrow_img{
    width: 20px;
    height: 20px;
  }

}
