<div class="menu">
   <div class="menu_component menu_tojunglogo">
	   <a href="/">Logo</a>
   </div>

   <div class="menu_component">
	   <a href="/home/about">About</a>
   </div>

   <div class="menu_component">
      Best
   </div>
   
   <div class="menu_component">
	   <a href="/product/list/1">판매중인 상품</a>
   </div>
   
   <div class="menu_component">
      주제별 상품
   </div>
   
   <div class="menu_component">
      검색창
   </div>
   
    <% if (current_vuser.blank?) == true %>
   <div class="menu_component">
     <a href="/vusers/sign_in">  Login   </a>
   </div>
   <% else %>
    <div class="menu_component">
		<a href="/product/cart_list"> Cart </a>
	</div>
	<div class="menu_componet">
		<a href="/mypage"> Mypage </a>
	</div>
	<div class="menu_component">
		<a href="/vusers/sign_out">Logout</a>
	</div>
	
	<% end %>
     <div class="menu_component">
      판매자 게시판
   </div>
</div>
