<div class="menu">
   <div class="menu_component menu_tojunglogo">
      Logo
   </div>

   <div class="menu_component">
      About
   </div>

   <div class="menu_component">
      Best
   </div>
   
   <div class="menu_component">
      판매중인 상품
   </div>
   
   <div class="menu_component">
      주제별 상품
   </div>
   
   <div class="menu_component">
      검색창
   </div>

   <div class="menu_component">
      Login
   </div>
   
   <div class="menu_component">
      Cart
   </div>

   <div class="menu_component">
      판매자 게시판
   </div>
</div>
