<!-- Header -->
<header class="header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light2">
    <div class="visible-xs">
      <% if (current_vuser.blank?) == true %>
      <a href="/vusers/sign_in">
      <%else%>
      <a href="/mypage">
      <%end%>
        <%=image_tag("/assets/images/mylog.png", class: "mylog_icon")%>
      </a>
    </div>
    <div class="brand">
      <a class="navbar-brand justify-content-center py-0 mr-0" href="/">
        <%=image_tag("/assets/images/tojung_green.png", class:"logo")%>
      </a>
    </div>
    <div class="visible-xs">
      <a href="#">
        <%=image_tag("/assets/images/search.png", class:"search_icon")%>
      </a>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/home/about" lang="en">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" lang="en">SEARCH</a>
        </li>
        <% if (current_vuser.blank?) == true %>
        <li class="nav-item">
          <a class="nav-link" href="/vusers/sign_in" lang="en">LOGIN</a>
        </li>
        <% else %>
        <li class="nav-item">
          <a class="nav-link" href="/mypage" lang="en">MY PAGE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/vusers/sign_out" lang="en">LOGOUT</a>
        </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
